[submodule "WebVOWL"]
	path = WebVOWL
	url = https://github.com/joetm/WebVOWL.git
[submodule "SemanticMediaWiki"]
	path = SemanticMediaWiki
	url = https://github.com/SemanticMediaWiki/SemanticMediaWiki.git
[submodule "LODE"]
	path = LODE
	url = https://github.com/joetm/LODE.git
[submodule "VocabularyMatchingTool"]
	path = VocabularyMatchingTool
	url = https://github.com/cbinding/VocabularyMatchingTool.git
[submodule "dbpedia-spotlight"]
	path = dbpedia-spotlight
	url = https://github.com/dbpedia-spotlight/dbpedia-spotlight.git
