[submodule "WebVOWL"]
	path = WebVOWL
	url = https://github.com/joetm/WebVOWL.git
[submodule "SemanticMediaWiki"]
	path = SemanticMediaWiki
	url = https://github.com/SemanticMediaWiki/SemanticMediaWiki.git
