[submodule "WebVOWL"]
	path = tools/WebVOWL
	url = https://github.com/joetm/WebVOWL.git
[submodule "SemanticMediaWiki"]
	path = tools/SemanticMediaWiki
	url = https://github.com/SemanticMediaWiki/SemanticMediaWiki.git
[submodule "LODE"]
	path = tools/LODE
	url = https://github.com/joetm/LODE.git
[submodule "VocabularyMatchingTool"]
	path = tools/VocabularyMatchingTool
	url = https://github.com/cbinding/VocabularyMatchingTool.git
[submodule "dbpedia-spotlight"]
	path = tools/dbpedia-spotlight
	url = https://github.com/dbpedia-spotlight/dbpedia-spotlight.git
[submodule "citation-parse/anystyle-parser"]
	path = citation-parse/anystyle-parser
	url = https://github.com/inukshuk/anystyle-parser.git
[submodule "citation-parse/grobid"]
	path = citation-parse/grobid
	url = https://github.com/kermitt2/grobid.git
[submodule "IKON-ontology"]
	path = IKON-ontology
	url = https://github.com/FUB-HCC/IKON-ontology.git
[submodule "IKON-projector"]
	path = IKON-projector
	url = https://github.com/FUB-HCC/IKON-projector
