@font-face {
    font-family: 'CHBold'; /*a name to be used later*/
    src: url('./res/CooperHewitt-WebFonts-public/CooperHewitt-Bold.woff'); /*URL to font*/
}
@font-face {
    font-family: 'CHThin'; /*a name to be used later*/
    src: url('./res/CooperHewitt-WebFonts-public/CooperHewitt-Thin.woff'); /*URL to font*/
}

html,body{
	height:100%;
  margin: 0px;

  /*background-color: #434058;*/
}
.links line{
  stroke: #f0faf0;
}

div.tooltip {
    position: fixed;

    text-align: center;
    width: auto;
    height: 16px;
    padding: 4px;
    font: 14px CHBold;
    background: #434058;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#chart{
  width:100%;
  height:100%;
}

.legend{
	font-family: CHBold;
}
rect.bar{
	fill:none;
	/*stroke:#985152;*/
	stroke-width:2;
	/*rx:10;
	ry:10;*/
}
.tick text{
	fill:#88a;
}

.label{
	word-wrap: break-word;
}

/*sankey Graph*/
/*path {
  stroke: white;
  stroke-width: 0.25px;
  fill: lightgrey;
}*/

.highlight{
  stroke: url(#myGradient);
}

.graph {
	font-family: sans-serif;
	font-size: 11px;
}

.nodesankey rect {
  cursor: pointer;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.nodesankey text {
  pointer-events: none;
  font: 15px CHBold;
}

.linksankey {
  fill: none;
  stroke: #000;
  stroke-opacity: .6;
}

.linksankey:hover {
  stroke-opacity: .9;
}
/*sankey Graph*/